# Why pandas ?
        - Data Manipulation
        - Data Analysis

#### Data Manipulation:-
                        A process of manipulating or changing information in data to make it more organize and readable
#### Data Analysis:-
                        it is the technique to collect, transform, and organize data to make future predictions, and make
informed data-driven decisions.
#### types :-
        1. Discriptive Analytics : what happened ?
        2. Diagnostics Analytics : why did it happened ?
        3. Predictive Analytics  : what is likely to happened in future ?
        4. Prescriptive Analytics: what is best course of action to take ?

- install libraries

In [ ]:
#pip install pandas
#pip install numpy

- import libraries

In [26]:
import pandas as pd 
import numpy as np

### Generating Raw Data :-

In [14]:
# Creating raw data objects 

raw = pd.Series([1,5,3,np.nan,7,2,8,6,12])
raw

0     1.0
1     5.0
2     3.0
3     NaN
4     7.0
5     2.0
6     8.0
7     6.0
8    12.0
dtype: float64

In [16]:
# Creating dates object
dates = pd.date_range("01 jan,2022",periods=30)                    # craeting dates for 30 days
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30'],
              dtype='datetime64[ns]', freq='D')

### convert series of data into data frames :-

In [19]:
# here we convert the data of dates into data frame and assign random raw values to each of date
data_frame = pd.DataFrame(np.random.randn(30,3),index=dates,columns=list("ABC"))
data_frame

                   A         B         C
2022-01-01  0.743510  0.009222 -1.124463
2022-01-02 -1.564007 -0.970358  0.282236
2022-01-03 -0.889039 -0.197749  0.341741
2022-01-04  1.928960  0.601742  0.006627
2022-01-05  1.333531  0.411152 -0.554140
2022-01-06  0.564217  1.288047 -2.273591
2022-01-07  1.649799 -1.837468  0.243035
2022-01-08 -0.039271 -0.124555 -0.208774
2022-01-09 -0.015162  0.002847  0.468854
2022-01-10 -0.131467  1.382554  1.513026
2022-01-11 -1.731871  0.530302  0.059397
2022-01-12 -1.300402 -0.181031  0.896974
2022-01-13 -0.752337 -1.172296 -1.530846
2022-01-14 -1.697755 -0.756458  1.664170
2022-01-15  0.463792  0.014777 -1.075284
2022-01-16  0.660673 -0.765097  0.001473
2022-01-17  1.184869 -0.480046 -0.311684
2022-01-18 -1.210932  1.254762  0.696076
2022-01-19  0.566269  1.948668  0.666082
2022-01-20 -0.232472 -0.508946  1.383752
2022-01-21 -0.326915  0.867726  1.588016
2022-01-22 -0.107747  0.394354  1.391154
2022-01-23  0.113667 -0.176619  0.150199
2022-01-24 -1.644939 -0.321867  0.584453
2022-01-25 -0.427530  0.367021  0.910921
2022-01-26 -1.618103  0.706809  0.447133
2022-01-27  0.088791 -0.634612 -0.576637
2022-01-28  1.939400 -1.174631 -0.438378
2022-01-29  0.686994  0.181313  0.316355
2022-01-30 -0.343783  0.556642  1.266684

In [22]:
### Creating data-frame of result of class using Dictionary 

class_result = pd.DataFrame(
    {
       "Name":pd.Categorical(["obaid","zafar","kashif","hamza"]),
       "Roll#":pd.Categorical([10024,10025,10026,10027]),
       "Class":pd.Categorical([12,12,12,12]),
       "status":pd.Categorical(["pass","fail","fail","pass"])
    }
    )
class_result

     Name  Roll# Class status
0   obaid  10024    12   pass
1   zafar  10025    12   fail
2  kashif  10026    12   fail
3   hamza  10027    12   pass

#### **Convert Data-frames into Array**

In [23]:
class_result.to_numpy()

array([['obaid', 10024, 12, 'pass'],
       ['zafar', 10025, 12, 'fail'],
       ['kashif', 10026, 12, 'fail'],
       ['hamza', 10027, 12, 'pass']], dtype=object)

In [25]:
class_result.describe()

         Name  Roll#  Class status
count       4      4      4      4
unique      4      4      1      2
top     hamza  10024     12   fail
freq        1      1      4      2

In [27]:
data_frame.describe()

               A          B          C
count  30.000000  30.000000  30.000000
mean   -0.070309   0.040540   0.226152
std     1.086475   0.849645   0.948904
min    -1.731871  -1.837468  -2.273591
25%    -0.854864  -0.501721  -0.285957
50%    -0.073509   0.006035   0.299295
75%     0.637072   0.550057   0.846750
max     1.939400   1.948668   1.664170